.my-projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.unique-p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
}

.unique-p img{
    max-width: 100%;
    border: 3px solid var(--fonts-color);

}

.video-proyectos{
    width: 90%;
    height: 30vh;
    margin: 3rem auto;

}

@media (max-width:370px){
    .my-projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    }

    .my-projects .unique-p{
        border-top: solid 2px var(--fonts-color);
    }

} 