:root{
    --main-color: #336499;
    --sencodary-color: #123037;
    --fonts-color: #ffebcd;
    font-size: 16px;
    color: var(--fonts-color);
    background-color: #667B8A;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/* Navbar */

.navbar {
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    color: var(--fonts-color);
    width: 100%;
    height: 80px;
}

.navbar-logo img{
    font-size: 1.5rem;
    margin: 0.5rem;
    width: 100%;
    height: 100%;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 1rem;
}

.navbar-links li {   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.navbar-links li:hover{
    background-color: var(--sencodary-color);
}

.navbar-links li a {
    text-decoration: none;
    padding: 1em;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    color: var(--fonts-color);
}

.burger-menu {
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
}

.burger-menu .bar{
    width: 100%;
    height: 3px;
    background-color: var(--fonts-color);
    border-radius: 10px;
}


/* Header */

header{
    position: relative;
}

picture img{
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Carrusel de proyectos */

.projects{
    margin: 1rem 0;
}
.carousel-dot{
    background-color: var(--sencodary-color);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
    border: solid var(--fonts-color) 2px;
}

.carousel-links {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.carousel-images {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.carousel-images img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.carousel-images > div {
    width: 100%;
    height: 100%;
}

.projects p > a{
    text-decoration: none;
    color: var(--fonts-color);
    text-decoration:overline underline;
}

/* Skills */

.skills{
    margin: 1rem 0;
}

.progress-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#caja-progreso {
    width: 8rem;
    height: 1rem;
    margin: 5px 5px;
    padding: 0.5rem;
    border-radius: 15px;
    border: 3px solid var(--sencodary-color);
}

#barra {
    width: 70%;
    height: 100%;
    background: var(--fonts-color);
    border-radius: 15px;
}

@keyframes progreso-html {
    0% {
        width: 0;
    }
    100% {
        width: 70%;
    }
}

@keyframes progreso-js {
    0% {
        width: 0;
    }
    100% {
        width: 25%;
    }
}

@keyframes progreso-python {
    0% {
        width: 0;
    }
    100% {
        width: 50%;
    }
}

@keyframes progreso-c {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.html#barra{
    animation: progreso-html 5s linear forwards;
}
.js#barra {
    animation: progreso-js 5s linear forwards;
}
.python#barra{
    animation: progreso-python 5s forwards;
}
.c#barra{
    animation: progreso-c 5s forwards;
}


/* Formulario */

form div {
    margin: 1rem;
}

#form input{
    padding: 0.5rem;
    border: 2px solid #555;
    color: var(--sencodary-color)
}

#form input:focus {
    background-color: var(--fonts-color);
}

#form textarea{
    width: 50%;
    height: 80px;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #555;
    color: var(--sencodary-color);
}

#form textarea:focus {
    background-color: var(--fonts-color);
}

#form{
    display: flex;
    flex-direction: column;
    background-color: #0F202E;
    border: solid 1px var(--fonts-color);
}

/* Paginas de error */
.link-to-error{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.link-to-error h2{
    border: 3px solid var(--fonts-color);
    width: fit-content;
    padding: 1rem 3rem;
}

/* Footer */

.footer {
    background-color: var(--main-color);
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer a{
    color: var(--fonts-color);
}



/* Medias */

/* Navbar responsive */

@media (max-width: 400px) {
    .burger-menu{
        display: flex;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-logo img{
        width: 7vh;
        height: 7vh;
    }
    
    .navbar-links {
       width: 100%;
       z-index: 3;
       padding: 0;
       margin: 0;
       height: 4rem;
       opacity: 80%;
       background-color: transparent;
    }

    .navbar-links ul{
        margin: 0;
    }

    .navbar-links li{
        display:flex;
        flex-wrap: wrap;
        background-color: var(--sencodary-color);
        border: solid 1px var(--fonts-color);
    }
}




@media (min-width: 900px){

    .navbar-logo img{
        font-size: 1.5rem;
        margin: 0.5rem;
        width: 150px;
        height: 100%;
    }

    .carousel-images {
        width: 800px;
        height: 500px;
        margin: auto;
        overflow: hidden;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #form{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 45% 45% 10%;
        width: 70%;
        margin-left: 15%;
    }

    #form .nombre{
        grid-area: 1 / 1 /2 / 2;
    }

    #form .apellido{
        grid-area: 1 / 2 / 2 / 3;
    }

    #form .telefono{
        grid-area: 1 / 3 / 2 / 4;
    }

    #form .github{
        grid-area: 1 / 4 / 2 / 5;
    }

    #form .conocimiento{
        grid-area: 2 / 1 / 3 / 3;
    }

    #form .description-area{
        grid-area: 2 / 3 / 3 / 5;
    }

    #form button{
        grid-area: 3 / 1 / 4 / 2;
    }

    #form textarea{
        width: 100%;
        height: 70%;
    }
}