:root{
    --main-color: #336499;
    --sencodary-color: #123037;
    --fonts-color: #ffebcd;
    font-size: 16px;
    color: var(--fonts-color);
    background-color: #667B8A;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Navbar */

.navbar {
    background-color: var(--main-color);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 80%;
    color: var(--fonts-color);
    width: 100%;
    height: 80px;
}

.navbar-logo{
    font-size: 1.5rem;
    margin: 0.5rem;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 1rem;
}

.navbar-links li {   
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border: red solid 1px;
}

.navbar-links li:hover{
    background-color: var(--sencodary-color);
}

.navbar-links li a {
    text-decoration: none;
    padding: 1em;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.burger-menu {
    position: absolute;
    top: 3rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 15px;
}

.burger-menu .bar{
    width: 100%;
    height: 3px;
    background-color: var(--fonts-color);
    border-radius: 10px;
}


/* Header */

header{
    position: relative;
}

header > img {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* Carrusel de proyectos */

.carousel-dot{
    background-color: var(--sencodary-color);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin: 5px;
}

.carousel-links {
    display: flex;
    justify-content: center;
}

.carousel-images {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.carousel-images img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carousel-images > div {
    width: 100%;
    height: 100%;
    background-color: darkslategrey;
    color: white;
}


/* Skills */

.progress-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
.progress-bar {
    background-color: var(--sencodary-color);
    height: 1rem;
    width: 10rem;
    margin: 10px 0;
    padding: 0.5rem;
    border-radius: 15px;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    transition: widht 3s ease-in-out;
    background-color: var(--fonts-color);
}


/* Formulario */

form div {
    margin: 1rem;
}

/* Footer */

.footer {
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: auto;
}

.footer a{
    color: var(--fonts-color);
}





@media (max-width: 400px) {
    .burger-menu{
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
}